{% extends 'shop/base_shop.html' %}

{% block title %} Категории артов {% endblock %}

{% block content %}
<div class="container w-50">
    <div class="text-center">
        <h1 class="display-6">Все типы артов</h1>
    </div>

    <div class="bg-info bg-opacity-50 rounded container">
        {% for genre in genres %}
        <div class="row text-center mb-3">
            <a type="button" class="btn btn-lg btn-info" href="{% url 'main' %}?genre_name={{ genre.title }}">
                <div class="text-start border-start border-top">
                    <h1 class="display-9 ms-3">{{ genre.title }}</h1>
                </div>
                <div class="text-center">
                    <h1 class="display-6">{{ genre.title }}</h1>
                </div>
                <div class="text-end border-end border-bottom">
                    <h1 class="display-9 me-3">{{ genre.title }}</h1>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}