{% extends 'shop/base_shop.html' %}
{% load shop_tags %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Торговая площадка</h1>
    </div>

    <div class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand mb-0 h1" href="{% url 'main' %}">Разделы</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse w-100" id="navbarNav">
                    <ul class="navbar-nav">
                        {% get_genres author_name %}
                        <li class="nav-item p-1">
                            <a type="button" class="btn btn-outline-warning" href="{% url 'all_authors' %}">Авторы</a>
                        </li>

                        {% get_basket_info user as basket_list %}
                        <li class="nav-item p-1">
                            <a type="button" class="btn btn-outline-success" href="{% url 'basket' %}">
                                Корзина |
                                <span class="text-end badge rounded-pill bg-danger">
                                    {{ basket_list|length }}
                                    <span class="visually-hidden">Кол-во товаров в корзине</span>
                                </span>
                            </a>
                        </li>

                        <li class="nav-item p-1 text-end">
                            <form method="get" class="d-flex" action="{% url 'search' %}">
                                <div class="input-group">
                                    <input type='text' class="bg-dark text-white form-control" name="search_word" placeholder="Поиск...">
                                    <button type="submit" name="search_btn" value="search" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="album py-5 bg-light rounded">
        <div class="container">
            <div class="row gy-5">
                {% for art in arts %}
                <div class="col" align="center">
                    <div class="card shadow-sm mb-4 h-100" style="width: 20rem;">
                        <img src="{{ art.art.url }}" class="rounded card-img" oncontextmenu="return false">
                        <div class="card-body">
                            <h1 class="card-text display-6">{{ art.title }}</h1>
                            <p class="card-text">Автор: {{ art.author }}</p>
                        </div>
                        <div class="card-img-overlay text-end shadow-sm">
                            <span class="bg-danger text-white rounded-pill p-1">{{ art.genre }}</span>
                        </div>
                        <div class="card-footer">
                            {% if art.id in basket_list %}
                            <div class="btn-group w-100">
                                <a type="button" class="btn btn-outline-info" href="{% url 'basket' %}" >Перейти в корзину</a>
                            </div>
                            {% else %}
                            <div class="btn-group">
                                <a href="{% url 'add_in_basket' art.id %}?{{ author_name }}{{ search_word }}{{ page }}" class="btn btn-outline-success"> {{ art.prise }} rub </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col" align="center">
                    <h1 class="text-center text-dark">По вашему запросу ничего не найдено.</h1>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="bg-dark mt-5">
            <nav aria-label="PaginationBar">
                {% if page_obj.object_list.count > 1 %}
                <ul class="pagination justify-content-center p-3">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?{{ search_word }}page={{ page_obj.previous_page_number }}" class="page-link"><i class="bi bi-arrow-left"></i></a>
                    </li>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                            <li class="page-item active" aria-current="page">
                                <a href="?{{ search_word }}page={{ p }}" class="page-link">{{ p }}</a>
                            </li>
                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                            <li class="page-item">
                                <a href="?{{ search_word }}page={{ p }}" class="page-link">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?{{ search_word }}page={{ page_obj.next_page_number }}" class="page-link"><i class="bi bi-arrow-right"></i></a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
{% endblock %}