{% extends 'gallery/base_gallery.html' %}
{% load gallery_content %}

{% block title %} {{ block.super }} {{ user.username }} {% endblock %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Галерея</h1>
    </div>
    {% if user.roles == 'Автор' %}
    {% get_author_arts user=user %}
    {% endif %}

    <div class="album py-3 bg-success bg-opacity-75">
        <div class="container">
            <div class="row">
                <div class="text-center mt-5 mb-3 text-white border border-top-0 border-start-0 border-end-0">
                    <h1 class="display-6">Приобретённые работы</h1>
                </div>
                {% if arts|length == 0 %}
                <div class="text-center text-white">
                    <h1 class="display-6">
                        Здесь будут отображаться все купленные в магазине иллюстрации
                    </h1>
                </div>
                {% else %}
                {% for art in arts %}
                <div class="col p-5" align="center">
                    <div class="card bg-success bg-opacity-10 text-white border border-start-0 border-end-0 h-100" style="width: 20rem;">
                        <button class="btn" data-bs-toggle="modal" data-bs-target="#g_art{{art.pk}}">
                            <img src="{{ art.art.url }}" class="rounded card-img" oncontextmenu="return false">
                        </button>
                        <div class="card-body text-center">
                            <p class="card-text">Автор: {{ art.author }}</p>
                        </div>
                    </div>
                </div>
                <!-- Modal Fullscreen Art-->
                <div class="modal fade" id="g_art{{art.pk}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-fullscreen-md modal-dialog-centered">
                        <div class="modal-content bg-light bg-opacity-10">
                            <div class="modal-body text-end">
                                <button type="button" class="btn-close mb-3" data-bs-dismiss="modal" aria-label="Close"></button>
                                <img src="{{ art.art.url }}" class="rounded card-img">
                            </div>

                            <div class="modal-footer">
                                <div class="btn-group-horizontal w-100 text-center btn-sm">
                                    <button class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#delete_accept_gallery_art{{ art.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                        Удалить
                                    </button>

                                    <a class="btn btn-outline-success" type="button" href="{{art.art.url}}" download>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
                                            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                        Скачать
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Fullscreen Art-->

                <!-- Modal delete from gallery -->
                <div class="modal fade" id="delete_accept_gallery_art{{ art.id }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-light text-light bg-opacity-10">
                            <div class="modal-header">
                                <h5 class="modal-title">Удаление</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="display-9">Вы действительно хотите удалить иллюстрацию из своей галлереи?</p>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-success" href="{% url 'delete_art' art.pk 1 %}">Да</a>
                                <button class="btn btn-danger" data-bs-dismiss="modal">Нет</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal delete from gallery -->
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}